In [1]:
import prep as p
import matplotlib.pyplot as plt

In [2]:
# Data Preparation and Cleaning
df = p.prepared_df()
df.head()

,ID,Age,Nationality,Overall,Potential,Club,International Reputation,Weak Foot,Skill Moves,Jersey Number,...,Inches,num_position,enum_d_work_rate,enum_o_work_rate,norm_wage,norm_value,total_stats,power_foot_num,Days_at_Club,enum_weights
0,158023,31,Argentina,94,94,FC Barcelona,5.0,4.0,4.0,10.0,...,67,3,1,1,565.0,110500.0,2244.0,1,5366,159
1,20801,33,Portugal,94,94,Juventus,5.0,4.0,5.0,7.0,...,74,3,0,2,405.0,77000.0,2265.0,0,244,183
2,190871,26,Brazil,92,93,Paris Saint-Germain,5.0,5.0,5.0,10.0,...,69,3,1,2,290.0,118500.0,2178.0,0,585,150
3,193080,27,Spain,91,93,Manchester United,4.0,3.0,1.0,1.0,...,76,0,1,1,260.0,72000.0,2220.0,0,2810,168
4,192985,27,Belgium,91,92,Manchester City,4.0,5.0,4.0,7.0,...,71,2,2,2,355.0,102000.0,2313.0,0,1289,154

In [ ]:
enum_df = p.enum_strings(df)
nation_idx = p.string_indices(df, 'Nationality')
club_idx = p.string_indices(df,'Club')
nation_idx
for i,v in enum_df.iterrows():
     print(nation_idx[nation_idx['index'] == v['num_nation']]['value'])

6    Argentina
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
137    Spain
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
120    Poland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
137    Spain
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
55    France
Name: value, dtype: object
44    Egypt
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
56    Gabon
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
158    Wales
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
55    France
Name: value, dtype: object
34    Costa Rica
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
9    Austria
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
61    Greece
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
120    Poland
Name: value, dtype: object
29    Chile
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
59    Germany
Name: value, dtype: object
29    Chile
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
77    Italy
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
77    Italy
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
54    Finland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
61    Greece
Name: value, dtype: object
55    France
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
65    Guinea
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
137    Spain
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
101    Montenegro
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
7    Armenia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
120    Poland
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
55    France
Name: value, dtype: object
113    Norway
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
20    Brazil
Name: value, dtype: object

137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
59    Germany
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
77    Italy
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
77    Italy
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
77    Italy
Name: value, dtype: object
46    England
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
27    Central African Rep.
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
55    France
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
137    Spain
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
126    Russia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
158    Wales
Name: value, dtype: object
46    England
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
72    Iceland
Name: value, dtype: object
77    Italy
Name: value, dtype: object
9    Austria
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
77    Italy
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
55    France
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
77    Italy
Name: value, dtype: object
55    France
Name: value, dtype: object
77    Italy
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
79    Jamaica
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
137    Spain
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
137    Spain
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
1    Albania
Name: value, dtype: object
1    Albania
Name: value, dtype: object
120    Poland
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
55    France
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
55    France
Name: value, dtype: object
158    Wales
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
120    Poland
Name: value, dtype: object
9    Austria
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
59    Germany
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
55    France
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
29    Chile
Name: value, dtype: object
77    Italy
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
29    Chile
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
80    Japan
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
126    Russia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
59    Germany
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
120    Poland
Name: value, dtype: object
77    Italy
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
43    Ecuador
Name: value, dtype: object
120    Poland
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
55    France
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
46    England
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
96    Mali
Name: value, dtype: object
55    France
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
42    Dominican Republic
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
59    Germany
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
46    England
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
80    Japan
Name: value, dtype: object
137    Spain
Name: value, dtype: object
76    Israel
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
46    England
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
46    England
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
137    Spain
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
59    Germany
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
83    Kenya
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
137    Spain

Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
71    Hungary
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
125    Romania
Name: value, dtype: object
46    England
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
126    Russia
Name: value, dtype: object
126    Russia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
154    United States
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
55    France
Name: value, dtype: object
126    Russia
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
77    Italy
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
126    Russia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
59    Germany
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
137    Spain
Name: value, dtype: object
71    Hungary
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
154    United States
Name: value, dtype: object
26    Cape Verde
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
113    Norway
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
137    Spain
Name: value, dtype: object
125    Romania
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
55    France
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
137    Spain
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
137    Spain
Name: value, dtype: object
9    Austria
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
8    Australia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
77    Italy
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
72    Iceland
Name: value, dtype: object
46    England
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
126    Russia
Name: value, dtype: object
55    France
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
65    Guinea
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
61    Greece
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
101    Montenegro
Name: value, dtype: object
77    Italy
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
46    England
Name: value, dtype: object
77    Italy
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
118    Peru
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
59    Germany
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
147    Togo
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
77    Italy
Name: value, dtype: object
80    Japan
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
77    Italy
Name: value, dtype: object
55    France
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
44    Egypt
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
101    Montenegro
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
143    Syria
Name: value, dtype: object
160    Zimbabwe
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
147    Togo
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
4    Angola
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
126    Russia
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
59    Germany
Name: value, dtype: object
56    Gabon
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
59    Germany
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
80    Japan
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
22    Burkina Faso
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
59    Germany
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
125    Romania
Name: value, dtype: object
77    Italy
Name: value, dtype: object
77    Italy
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
103    Morocco

Name: value, dtype: object
6    Argentina
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
59    Germany
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
29    Chile
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
76    Israel
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
55    France
Name: value, dtype: object
120    Poland
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
61    Greece
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
55    France
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
9    Austria
Name: value, dtype: object
137    Spain
Name: value, dtype: object
9    Austria
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
29    Chile
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
80    Japan
Name: value, dtype: object
61    Greece
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
126    Russia
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
46    England
Name: value, dtype: object
54    Finland
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
9    Austria
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
59    Germany
Name: value, dtype: object
154    United States
Name: value, dtype: object
147    Togo
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
46    England
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
55    France
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
26    Cape Verde
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
29    Chile
Name: value, dtype: object
46    England
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
44    Egypt
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
74    Iran
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
55    France
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
55    France
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
77    Italy
Name: value, dtype: object
77    Italy
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
154    United States
Name: value, dtype: object
49    Estonia
Name: value, dtype: object
126    Russia
Name: value, dtype: object
55    France
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
34    Costa Rica
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
149    Tunisia
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
80    Japan
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
76    Israel
Name: value, dtype: object
137    Spain
Name: value, dtype: object
26    Cape Verde
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
47    Equatorial Guinea
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
108    New Zealand
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
29    Chile
Name: value, dtype: object
126    Russia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
77    Italy
Name: value, dtype: object
9    Austria
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
126    Russia
Name: value, dtype: object
29    Chile
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
77    Italy
Name: value, dtype: object
77    Italy
Name: value, dtype: object
55    France
Name: value, dtype: object
77    Italy
Name: value, dtype: object
43    Ecuador
Name: value, dtype: object
137    Spain
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
46    England
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
108    New Zealand
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
55    France
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
113    Norway
Name: value, dtype: object
6    Argentina

Name: value, dtype: object
77    Italy
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
137    Spain
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
137    Spain
Name: value, dtype: object
80    Japan
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
51    FYR Macedonia
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
61    Greece
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
9    Austria
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
54    Finland
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
61    Greece
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
59    Germany
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
46    England
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
77    Italy
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
65    Guinea
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
65    Guinea
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
153    United Arab Emirates
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
29    Chile
Name: value, dtype: object
9    Austria
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
125    Romania
Name: value, dtype: object
137    Spain
Name: value, dtype: object
34    Costa Rica
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
137    Spain
Name: value, dtype: object
9    Austria
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
29    Chile
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
30    China PR
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
137    Spain
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
137    Spain
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
59    Germany
Name: value, dtype: object
61    Greece
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
71    Hungary
Name: value, dtype: object
66    Guinea Bissau
Name: value, dtype: object
9    Austria
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
21    Bulgaria
Name: value, dtype: object
46    England
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
29    Chile
Name: value, dtype: object
158    Wales
Name: value, dtype: object
26    Cape Verde
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
125    Romania
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
86    Kosovo
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
77    Italy
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
46    England
Name: value, dtype: object
86    Kosovo
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
77    Italy
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
120    Poland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
8    Australia
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
77    Italy
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
29    Chile
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
113    Norway
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
77    Italy
Name: value, dtype: object
46    England
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
77    Italy
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
137    Spain
Name: value, dtype: object
80    Japan
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
55    France
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
77    Italy
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
137    Spain
Name: value, dtype: object
95    Madagascar
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
101    Montenegro
Name: value, dtype: object
77    Italy
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
61    Greece
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
61    Greece
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
59    Germany
Name: value, dtype: object
113    Norway

Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
80    Japan
Name: value, dtype: object
154    United States
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
55    France
Name: value, dtype: object
43    Ecuador
Name: value, dtype: object
55    France
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
158    Wales
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
51    FYR Macedonia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
55    France
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
77    Italy
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
55    France
Name: value, dtype: object
58    Georgia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
59    Germany
Name: value, dtype: object
29    Chile
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
126    Russia
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
34    Costa Rica
Name: value, dtype: object
137    Spain
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
80    Japan
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
61    Greece
Name: value, dtype: object
43    Ecuador
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
26    Cape Verde
Name: value, dtype: object
77    Italy
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
147    Togo
Name: value, dtype: object
46    England
Name: value, dtype: object
61    Greece
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
46    England
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
149    Tunisia
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
59    Germany
Name: value, dtype: object
120    Poland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
145    Tanzania
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
120    Poland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
71    Hungary
Name: value, dtype: object
137    Spain
Name: value, dtype: object
22    Burkina Faso
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
44    Egypt
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
46    England
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
55    France
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
9    Austria
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
57    Gambia
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
154    United States
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
154    United States
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
118    Peru
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
36    Cuba
Name: value, dtype: object
113    Norway
Name: value, dtype: object
118    Peru
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
113    Norway
Name: value, dtype: object
29    Chile
Name: value, dtype: object
113    Norway
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
29    Chile
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
9    Austria
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
126    Russia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
76    Israel
Name: value, dtype: object
137    Spain
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
74    Iran
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
59    Germany
Name: value, dtype: object
29    Chile
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
71    Hungary
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
154    United States
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
51    FYR Macedonia
Name: value, dtype: object
26    Cape Verde
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
34    Costa Rica
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
77    Italy
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
59    Germany
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
160    Zimbabwe
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
59    Germany
Name: value, dtype: object
77    Italy
Name: value, dtype: object
80    Japan
Name: value, dtype: object
9    Austria
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
12    Belarus
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
9    Austria
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
154    United States
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
80    Japan
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
158    Wales
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
156    Uzbekistan
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
54    Finland
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
71    Hungary
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
125    Romania
Name: value, dtype: object
77    Italy
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina

Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
126    Russia
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
96    Mali
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
108    New Zealand
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
29    Chile
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
154    United States
Name: value, dtype: object
9    Austria
Name: value, dtype: object
113    Norway
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
46    England
Name: value, dtype: object
77    Italy
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
158    Wales
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
8    Australia
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
113    Norway
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
56    Gabon
Name: value, dtype: object
58    Georgia
Name: value, dtype: object
9    Austria
Name: value, dtype: object
79    Jamaica
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
154    United States
Name: value, dtype: object
61    Greece
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
15    Benin
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
96    Mali
Name: value, dtype: object
137    Spain
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
33    Congo
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
58    Georgia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
59    Germany
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
77    Italy
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
126    Russia
Name: value, dtype: object
55    France
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
9    Austria
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
46    England
Name: value, dtype: object
55    France
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
29    Chile
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
96    Mali
Name: value, dtype: object
80    Japan
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
55    France
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
80    Japan
Name: value, dtype: object
77    Italy
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
46    England
Name: value, dtype: object
61    Greece
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
61    Greece
Name: value, dtype: object
29    Chile
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
55    France
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
79    Jamaica
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
118    Peru
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
77    Italy
Name: value, dtype: object
104    Mozambique
Name: value, dtype: object
77    Italy
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
59    Germany
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
137    Spain
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
9    Austria
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
69    Honduras
Name: value, dtype: object
29    Chile
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
25    Canada
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
8    Australia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
26    Cape Verde
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
66    Guinea Bissau
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
126    Russia
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
120    Poland
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
29    Chile
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
61    Greece
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
40    DR Congo

Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
59    Germany
Name: value, dtype: object
143    Syria
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
55    France
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
46    England
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
61    Greece
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
118    Peru
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
22    Burkina Faso
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
137    Spain
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
74    Iran
Name: value, dtype: object
125    Romania
Name: value, dtype: object
154    United States
Name: value, dtype: object
77    Italy
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
158    Wales
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
59    Germany
Name: value, dtype: object
38    Cyprus
Name: value, dtype: object
25    Canada
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
51    FYR Macedonia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
96    Mali
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
8    Australia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
126    Russia
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
137    Spain
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
160    Zimbabwe
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
9    Austria
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
79    Jamaica
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
154    United States
Name: value, dtype: object
77    Italy
Name: value, dtype: object
46    England
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
80    Japan
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
37    Curacao
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
154    United States
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
100    Moldova
Name: value, dtype: object
137    Spain
Name: value, dtype: object
118    Peru
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
55    France
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
120    Poland
Name: value, dtype: object
44    Egypt
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
77    Italy
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
8    Australia
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
55    France
Name: value, dtype: object
77    Italy
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
59    Germany
Name: value, dtype: object
25    Canada
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
9    Austria
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
51    FYR Macedonia
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
154    United States
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
55    France
Name: value, dtype: object
56    Gabon
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
80    Japan
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
55    France
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
29    Chile
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
100    Moldova
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
125    Romania
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
120    Poland
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
77    Italy
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
46    England
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
44    Egypt
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
120    Poland
Name: value, dtype: object
29    Chile
Name: value, dtype: object
46    England
Name: value, dtype: object
61    Greece
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
137    Spain
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
120    Poland
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
17    Bolivia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
51    FYR Macedonia
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
96    Mali
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
104    Mozambique
Name: value, dtype: object
55    France
Name: value, dtype: object
61    Greece
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
154    United States
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
79    Jamaica
Name: value, dtype: object
46    England
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
46    England
Name: value, dtype: object
54    Finland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
148    Trinidad & Tobago
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
37    Curacao
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
137    Spain
Name: value, dtype: object
126    Russia
Name: value, dtype: object
46    England
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
113    Norway
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
59    Germany

Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
61    Greece
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
77    Italy
Name: value, dtype: object
9    Austria
Name: value, dtype: object
55    France
Name: value, dtype: object
126    Russia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
8    Australia
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
46    England
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
132    Sierra Leone
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
113    Norway
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
69    Honduras
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
126    Russia
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
154    United States
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
118    Peru
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
43    Ecuador
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
154    United States
Name: value, dtype: object
147    Togo
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
59    Germany
Name: value, dtype: object
154    United States
Name: value, dtype: object
15    Benin
Name: value, dtype: object
43    Ecuador
Name: value, dtype: object
46    England
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
21    Bulgaria
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
55    France
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
120    Poland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
65    Guinea
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
77    Italy
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
137    Spain
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
9    Austria
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
46    England
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
55    France
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
29    Chile
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
34    Costa Rica
Name: value, dtype: object
9    Austria
Name: value, dtype: object
46    England
Name: value, dtype: object
29    Chile
Name: value, dtype: object
9    Austria
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
29    Chile
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
125    Romania
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
46    England
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
9    Austria
Name: value, dtype: object
126    Russia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
55    France
Name: value, dtype: object
77    Italy
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
55    France
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
55    France
Name: value, dtype: object
77    Italy
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
46    England
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
113    Norway
Name: value, dtype: object
120    Poland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
46    England
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
29    Chile
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
26    Cape Verde
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
58    Georgia
Name: value, dtype: object
113    Norway
Name: value, dtype: object
126    Russia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
29    Chile
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
80    Japan
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
29    Chile
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
59    Germany
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
120    Poland
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
158    Wales
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
43    Ecuador
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
66    Guinea Bissau
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
46    England
Name: value, dtype: object
154    United States
Name: value, dtype: object
55    France
Name: value, dtype: object
149    Tunisia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
69    Honduras
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
113    Norway
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
46    England
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
55    France
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
61    Greece
Name: value, dtype: object
29    Chile
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
113    Norway
Name: value, dtype: object
55    France
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
143    Syria
Name: value, dtype: object
55    France
Name: value, dtype: object
80    Japan
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
55    France
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
159    Zambia
Name: value, dtype: object
80    Japan
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
59    Germany
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
46    England
Name: value, dtype: object
77    Italy
Name: value, dtype: object
149    Tunisia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
29    Chile
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
1    Albania
Name: value, dtype: object
29    Chile
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
155    Uruguay

Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
30    China PR
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
58    Georgia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
59    Germany
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
9    Austria
Name: value, dtype: object
46    England
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
46    England
Name: value, dtype: object
154    United States
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
154    United States
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
113    Norway
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
80    Japan
Name: value, dtype: object
29    Chile
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
46    England
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
9    Austria
Name: value, dtype: object
55    France
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
125    Romania
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
25    Canada
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
154    United States
Name: value, dtype: object
125    Romania
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
77    Italy
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
55    France
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
61    Greece
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
46    England
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
77    Italy
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
158    Wales
Name: value, dtype: object
55    France
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
96    Mali
Name: value, dtype: object
113    Norway
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
28    Chad
Name: value, dtype: object
9    Austria
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
61    Greece
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
9    Austria
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
72    Iceland
Name: value, dtype: object
55    France
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
57    Gambia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
61    Greece
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
46    England
Name: value, dtype: object
22    Burkina Faso
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
9    Austria
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
61    Greece
Name: value, dtype: object
77    Italy
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
55    France
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
59    Germany
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
154    United States
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
77    Italy
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
101    Montenegro
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
9    Austria
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
119    Philippines
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
8    Australia
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
8    Australia
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
154    United States
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
55    France
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
55    France
Name: value, dtype: object
77    Italy
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
126    Russia
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
120    Poland
Name: value, dtype: object
120    Poland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
46    England
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
66    Guinea Bissau
Name: value, dtype: object
29    Chile
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
96    Mali
Name: value, dtype: object
120    Poland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
43    Ecuador
Name: value, dtype: object
59    Germany
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
80    Japan
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
120    Poland
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
113    Norway
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
154    United States
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
80    Japan
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
9    Austria
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
29    Chile
Name: value, dtype: object
125    Romania
Name: value, dtype: object
126    Russia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
68    Haiti
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
61    Greece
Name: value, dtype: object
55    France
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
137    Spain
Name: value, dtype: object
54    Finland
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
77    Italy
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
86    Kosovo
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
32    Comoros
Name: value, dtype: object
74    Iran
Name: value, dtype: object
8    Australia
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
137    Spain

Name: value, dtype: object
41    Denmark
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
8    Australia
Name: value, dtype: object
120    Poland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
76    Israel
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
113    Norway
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
72    Iceland
Name: value, dtype: object
9    Austria
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
154    United States
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
154    United States
Name: value, dtype: object
55    France
Name: value, dtype: object
4    Angola
Name: value, dtype: object
149    Tunisia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
113    Norway
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
29    Chile
Name: value, dtype: object
118    Peru
Name: value, dtype: object
154    United States
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
61    Greece
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
46    England
Name: value, dtype: object
61    Greece
Name: value, dtype: object
54    Finland
Name: value, dtype: object
55    France
Name: value, dtype: object
29    Chile
Name: value, dtype: object
55    France
Name: value, dtype: object
91    Libya
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
113    Norway
Name: value, dtype: object
46    England
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
77    Italy
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
80    Japan
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
80    Japan
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
77    Italy
Name: value, dtype: object
59    Germany
Name: value, dtype: object
76    Israel
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
137    Spain
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
137    Spain
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
120    Poland
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
154    United States
Name: value, dtype: object
116    Panama
Name: value, dtype: object
137    Spain
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
59    Germany
Name: value, dtype: object
77    Italy
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
29    Chile
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
29    Chile
Name: value, dtype: object
29    Chile
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
86    Kosovo
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
29    Chile
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
61    Greece
Name: value, dtype: object
30    China PR
Name: value, dtype: object
46    England
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
57    Gambia
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
44    Egypt
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
29    Chile
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
149    Tunisia
Name: value, dtype: object
58    Georgia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
46    England
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
154    United States
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
77    Italy
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
77    Italy
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
69    Honduras
Name: value, dtype: object
55    France
Name: value, dtype: object
154    United States
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
158    Wales
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
43    Ecuador
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
80    Japan
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
1    Albania
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
147    Togo
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
77    Italy
Name: value, dtype: object
61    Greece
Name: value, dtype: object
77    Italy
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
59    Germany
Name: value, dtype: object
9    Austria
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
158    Wales
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
125    Romania
Name: value, dtype: object
30    China PR
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
137    Spain
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
57    Gambia
Name: value, dtype: object
55    France
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
43    Ecuador
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
54    Finland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
120    Poland
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
55    France
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
113    Norway
Name: value, dtype: object
77    Italy
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
120    Poland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
33    Congo
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
160    Zimbabwe
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
154    United States
Name: value, dtype: object
77    Italy
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
130    Senegal

Name: value, dtype: object
30    China PR
Name: value, dtype: object
77    Italy
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
8    Australia
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
154    United States
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
126    Russia
Name: value, dtype: object
95    Madagascar
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
30    China PR
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
22    Burkina Faso
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
113    Norway
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
154    United States
Name: value, dtype: object
77    Italy
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
74    Iran
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
29    Chile
Name: value, dtype: object
77    Italy
Name: value, dtype: object
154    United States
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
80    Japan
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
144    SÃ£o TomÃ© & PrÃ­ncipe
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
72    Iceland
Name: value, dtype: object
154    United States
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
120    Poland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
55    France
Name: value, dtype: object
29    Chile
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
126    Russia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
154    United States
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
30    China PR
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
55    France
Name: value, dtype: object
48    Eritrea
Name: value, dtype: object
154    United States
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
96    Mali
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
44    Egypt
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
72    Iceland
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
22    Burkina Faso
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
46    England
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
8    Australia
Name: value, dtype: object
55    France
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
30    China PR
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
61    Greece
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
69    Honduras
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
113    Norway
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
77    Italy
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
9    Austria
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
77    Italy
Name: value, dtype: object
25    Canada
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
46    England
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
56    Gabon
Name: value, dtype: object
83    Kenya
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
55    France
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
9    Austria
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
29    Chile
Name: value, dtype: object
43    Ecuador
Name: value, dtype: object
118    Peru
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
69    Honduras
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
59    Germany
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
59    Germany
Name: value, dtype: object
8    Australia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
149    Tunisia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
56    Gabon
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
77    Italy
Name: value, dtype: object
55    France
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
8    Australia
Name: value, dtype: object
51    FYR Macedonia
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
59    Germany
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
71    Hungary
Name: value, dtype: object
55    France
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
29    Chile
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
29    Chile
Name: value, dtype: object
120    Poland
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
137    Spain
Name: value, dtype: object
96    Mali
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
46    England
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
34    Costa Rica
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
20    Brazil

Name: value, dtype: object
121    Portugal
Name: value, dtype: object
26    Cape Verde
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
55    France
Name: value, dtype: object
61    Greece
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
114    Oman
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
9    Austria
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
80    Japan
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
9    Austria
Name: value, dtype: object
113    Norway
Name: value, dtype: object
59    Germany
Name: value, dtype: object
65    Guinea
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
55    France
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
137    Spain
Name: value, dtype: object
9    Austria
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
46    England
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
154    United States
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
77    Italy
Name: value, dtype: object
77    Italy
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
46    England
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
126    Russia
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
120    Poland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
9    Austria
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
9    Austria
Name: value, dtype: object
154    United States
Name: value, dtype: object
55    France
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
54    Finland
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
9    Austria
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
76    Israel
Name: value, dtype: object
4    Angola
Name: value, dtype: object
46    England
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
75    Iraq
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
118    Peru
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
77    Italy
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
154    United States
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
77    Italy
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
44    Egypt
Name: value, dtype: object
8    Australia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
113    Norway
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
80    Japan
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
56    Gabon
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
46    England
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
148    Trinidad & Tobago
Name: value, dtype: object
77    Italy
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
77    Italy
Name: value, dtype: object
96    Mali
Name: value, dtype: object
113    Norway
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
71    Hungary
Name: value, dtype: object
23    Burundi
Name: value, dtype: object
61    Greece
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
54    Finland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
80    Japan
Name: value, dtype: object
1    Albania
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
77    Italy
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
46    England
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
1    Albania
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
59    Germany
Name: value, dtype: object
80    Japan
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
77    Italy
Name: value, dtype: object
120    Poland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
9    Austria
Name: value, dtype: object
154    United States
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
126    Russia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
55    France
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
65    Guinea
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
77    Italy
Name: value, dtype: object
61    Greece
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
15    Benin
Name: value, dtype: object
29    Chile
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
44    Egypt
Name: value, dtype: object
59    Germany
Name: value, dtype: object
77    Italy
Name: value, dtype: object
46    England
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
61    Greece
Name: value, dtype: object
4    Angola
Name: value, dtype: object
26    Cape Verde
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
29    Chile
Name: value, dtype: object
55    France
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
96    Mali
Name: value, dtype: object
137    Spain
Name: value, dtype: object
113    Norway
Name: value, dtype: object
80    Japan
Name: value, dtype: object
55    France
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
46    England
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
58    Georgia
Name: value, dtype: object
53    Fiji
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
86    Kosovo
Name: value, dtype: object
34    Costa Rica
Name: value, dtype: object
77    Italy
Name: value, dtype: object
15    Benin
Name: value, dtype: object
137    Spain
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
80    Japan
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina

Name: value, dtype: object
61    Greece
Name: value, dtype: object
59    Germany
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
120    Poland
Name: value, dtype: object
29    Chile
Name: value, dtype: object
80    Japan
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
154    United States
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
77    Italy
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
154    United States
Name: value, dtype: object
80    Japan
Name: value, dtype: object
77    Italy
Name: value, dtype: object
91    Libya
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
77    Italy
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
77    Italy
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
80    Japan
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
65    Guinea
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
125    Romania
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
59    Germany
Name: value, dtype: object
21    Bulgaria
Name: value, dtype: object
137    Spain
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
80    Japan
Name: value, dtype: object
120    Poland
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
118    Peru
Name: value, dtype: object
55    France
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
34    Costa Rica
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
154    United States
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
149    Tunisia
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
43    Ecuador
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
149    Tunisia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
77    Italy
Name: value, dtype: object
29    Chile
Name: value, dtype: object
30    China PR
Name: value, dtype: object
113    Norway
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
61    Greece
Name: value, dtype: object
107    New Caledonia
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
29    Chile
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
154    United States
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
59    Germany
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
55    France
Name: value, dtype: object
93    Lithuania
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
72    Iceland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
25    Canada
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
125    Romania
Name: value, dtype: object
137    Spain
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
46    England
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
126    Russia
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
137    Spain
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
95    Madagascar
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
96    Mali
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
1    Albania
Name: value, dtype: object
80    Japan
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
160    Zimbabwe
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
43    Ecuador
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
120    Poland
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
59    Germany
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
46    England
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
77    Italy
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
29    Chile
Name: value, dtype: object
55    France

Name: value, dtype: object
160    Zimbabwe
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
9    Austria
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
94    Luxembourg
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
9    Austria
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
8    Australia
Name: value, dtype: object
84    Korea DPR
Name: value, dtype: object
29    Chile
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
120    Poland
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
59    Germany
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
29    Chile
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
9    Austria
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
54    Finland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
120    Poland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
9    Austria
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
43    Ecuador
Name: value, dtype: object
55    France
Name: value, dtype: object
86    Kosovo
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
46    England
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
55    France
Name: value, dtype: object
61    Greece
Name: value, dtype: object
113    Norway
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
55    France
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
8    Australia
Name: value, dtype: object
120    Poland
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
96    Mali
Name: value, dtype: object
77    Italy
Name: value, dtype: object
33    Congo
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
80    Japan
Name: value, dtype: object
1    Albania
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
59    Germany
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
120    Poland
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
126    Russia
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
154    United States
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
8    Australia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
61    Greece
Name: value, dtype: object
59    Germany
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
44    Egypt
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
120    Poland
Name: value, dtype: object
125    Romania
Name: value, dtype: object
29    Chile
Name: value, dtype: object
55    France
Name: value, dtype: object
77    Italy
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
55    France
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
80    Japan
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
86    Kosovo
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
92    Liechtenstein
Name: value, dtype: object
34    Costa Rica
Name: value, dtype: object
25    Canada
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
77    Italy
Name: value, dtype: object
77    Italy
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
96    Mali
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
46    England
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
55    France
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
55    France
Name: value, dtype: object
86    Kosovo
Name: value, dtype: object
137    Spain
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
79    Jamaica
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
113    Norway
Name: value, dtype: object
96    Mali
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
120    Poland
Name: value, dtype: object
77    Italy
Name: value, dtype: object
46    England
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
43    Ecuador
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
125    Romania
Name: value, dtype: object
59    Germany
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
158    Wales
Name: value, dtype: object
9    Austria
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
29    Chile
Name: value, dtype: object
71    Hungary
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
34    Costa Rica
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
116    Panama
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
108    New Zealand
Name: value, dtype: object
113    Norway
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
77    Italy
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
55    France
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
8    Australia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
137    Spain
Name: value, dtype: object
154    United States
Name: value, dtype: object
154    United States
Name: value, dtype: object
137    Spain
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
55    France
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
61    Greece
Name: value, dtype: object
30    China PR
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
80    Japan
Name: value, dtype: object
8    Australia
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
118    Peru
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
59    Germany
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
116    Panama
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
46    England
Name: value, dtype: object
80    Japan
Name: value, dtype: object
46    England
Name: value, dtype: object
75    Iraq
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
149    Tunisia
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
76    Israel
Name: value, dtype: object
113    Norway
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
138    St Kitts Nevis
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
158    Wales
Name: value, dtype: object
24    Cameroon

Name: value, dtype: object
41    Denmark
Name: value, dtype: object
96    Mali
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
69    Honduras
Name: value, dtype: object
137    Spain
Name: value, dtype: object
30    China PR
Name: value, dtype: object
137    Spain
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
9    Austria
Name: value, dtype: object
126    Russia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
72    Iceland
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
77    Italy
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
59    Germany
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
88    Latvia
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
46    England
Name: value, dtype: object
77    Italy
Name: value, dtype: object
46    England
Name: value, dtype: object
96    Mali
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
1    Albania
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
158    Wales
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
43    Ecuador
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
59    Germany
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
29    Chile
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
72    Iceland
Name: value, dtype: object
55    France
Name: value, dtype: object
77    Italy
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
137    Spain
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
113    Norway
Name: value, dtype: object
86    Kosovo
Name: value, dtype: object
137    Spain
Name: value, dtype: object
125    Romania
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
58    Georgia
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
80    Japan
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
21    Bulgaria
Name: value, dtype: object
80    Japan
Name: value, dtype: object
55    France
Name: value, dtype: object
29    Chile
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
77    Italy
Name: value, dtype: object
113    Norway
Name: value, dtype: object
154    United States
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
9    Austria
Name: value, dtype: object
29    Chile
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
29    Chile
Name: value, dtype: object
120    Poland
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
65    Guinea
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
140    Suriname
Name: value, dtype: object
137    Spain
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
151    Uganda
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
118    Peru
Name: value, dtype: object
47    Equatorial Guinea
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
61    Greece
Name: value, dtype: object
55    France
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
80    Japan
Name: value, dtype: object
65    Guinea
Name: value, dtype: object
137    Spain
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
55    France
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
116    Panama
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
149    Tunisia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
80    Japan
Name: value, dtype: object
86    Kosovo
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
113    Norway
Name: value, dtype: object
113    Norway
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
54    Finland
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
46    England
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
55    France
Name: value, dtype: object
120    Poland
Name: value, dtype: object
120    Poland
Name: value, dtype: object
46    England
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
120    Poland
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
125    Romania
Name: value, dtype: object
154    United States
Name: value, dtype: object
59    Germany
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
46    England
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
29    Chile
Name: value, dtype: object
126    Russia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
143    Syria
Name: value, dtype: object
29    Chile
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
46    England
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
77    Italy
Name: value, dtype: object
59    Germany
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
154    United States
Name: value, dtype: object
96    Mali
Name: value, dtype: object
137    Spain
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
158    Wales
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
101    Montenegro
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
9    Austria
Name: value, dtype: object
55    France
Name: value, dtype: object
113    Norway
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
37    Curacao
Name: value, dtype: object
61    Greece
Name: value, dtype: object
29    Chile
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
9    Austria
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
125    Romania
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
59    Germany
Name: value, dtype: object
113    Norway
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
55    France
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
108    New Zealand
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
125    Romania
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
74    Iran
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
51    FYR Macedonia
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
77    Italy
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
120    Poland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
118    Peru
Name: value, dtype: object
154    United States
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
55    France
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
55    France
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
59    Germany
Name: value, dtype: object
29    Chile
Name: value, dtype: object
141    Sweden

Name: value, dtype: object
41    Denmark
Name: value, dtype: object
93    Lithuania
Name: value, dtype: object
59    Germany
Name: value, dtype: object
80    Japan
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
1    Albania
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
120    Poland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
77    Italy
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
77    Italy
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
29    Chile
Name: value, dtype: object
61    Greece
Name: value, dtype: object
8    Australia
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
120    Poland
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
29    Chile
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
29    Chile
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
33    Congo
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
77    Italy
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
76    Israel
Name: value, dtype: object
55    France
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
46    England
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
147    Togo
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
154    United States
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
30    China PR
Name: value, dtype: object
55    France
Name: value, dtype: object
149    Tunisia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
34    Costa Rica
Name: value, dtype: object
137    Spain
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
158    Wales
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
137    Spain
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
120    Poland
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
113    Norway
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
96    Mali
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
45    El Salvador
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
46    England
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
29    Chile
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
21    Bulgaria
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
12    Belarus
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
8    Australia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
59    Germany
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
116    Panama
Name: value, dtype: object
30    China PR
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
27    Central African Rep.
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
96    Mali
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
77    Italy
Name: value, dtype: object
59    Germany
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
29    Chile
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
55    France
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
61    Greece
Name: value, dtype: object
77    Italy
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
15    Benin
Name: value, dtype: object
77    Italy
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
55    France
Name: value, dtype: object
154    United States
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
79    Jamaica
Name: value, dtype: object
46    England
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
59    Germany
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
58    Georgia
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
9    Austria
Name: value, dtype: object
59    Germany
Name: value, dtype: object
116    Panama
Name: value, dtype: object
77    Italy
Name: value, dtype: object
113    Norway
Name: value, dtype: object
59    Germany
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
113    Norway
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
7    Armenia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
158    Wales
Name: value, dtype: object
59    Germany
Name: value, dtype: object
77    Italy
Name: value, dtype: object
120    Poland
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
59    Germany
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
37    Curacao
Name: value, dtype: object
80    Japan
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
29    Chile
Name: value, dtype: object
77    Italy
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
72    Iceland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
29    Chile
Name: value, dtype: object
72    Iceland
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
8    Australia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
72    Iceland
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
55    France
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
80    Japan
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
158    Wales
Name: value, dtype: object
137    Spain
Name: value, dtype: object
154    United States
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
59    Germany
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
137    Spain

Name: value, dtype: object
77    Italy
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
29    Chile
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
91    Libya
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
154    United States
Name: value, dtype: object
94    Luxembourg
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
86    Kosovo
Name: value, dtype: object
72    Iceland
Name: value, dtype: object
77    Italy
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
118    Peru
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
77    Italy
Name: value, dtype: object
32    Comoros
Name: value, dtype: object
46    England
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
68    Haiti
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
80    Japan
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
30    China PR
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
160    Zimbabwe
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
154    United States
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
77    Italy
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
59    Germany
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
154    United States
Name: value, dtype: object
59    Germany
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
154    United States
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
55    France
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
55    France
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
80    Japan
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
30    China PR
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
61    Greece
Name: value, dtype: object
77    Italy
Name: value, dtype: object
87    Kuwait
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
61    Greece
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
46    England
Name: value, dtype: object
160    Zimbabwe
Name: value, dtype: object
29    Chile
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
113    Norway
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
154    United States
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
77    Italy
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
46    England
Name: value, dtype: object
77    Italy
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
26    Cape Verde
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
51    FYR Macedonia
Name: value, dtype: object
118    Peru
Name: value, dtype: object
120    Poland
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
158    Wales
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
154    United States
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
154    United States
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
149    Tunisia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
29    Chile
Name: value, dtype: object
59    Germany
Name: value, dtype: object
65    Guinea
Name: value, dtype: object
61    Greece
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
46    England
Name: value, dtype: object
101    Montenegro
Name: value, dtype: object
54    Finland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
8    Australia
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
29    Chile
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
61    Greece
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
137    Spain
Name: value, dtype: object
32    Comoros
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
59    Germany
Name: value, dtype: object
120    Poland
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
113    Norway
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
137    Spain
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
120    Poland
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
158    Wales
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
120    Poland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
120    Poland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
80    Japan
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
29    Chile
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
86    Kosovo
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
154    United States
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
77    Italy
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
154    United States
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany

Name: value, dtype: object
17    Bolivia
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
120    Poland
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
158    Wales
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
77    Italy
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
79    Jamaica
Name: value, dtype: object
113    Norway
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
38    Cyprus
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
37    Curacao
Name: value, dtype: object
26    Cape Verde
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
77    Italy
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
120    Poland
Name: value, dtype: object
77    Italy
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
154    United States
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
80    Japan
Name: value, dtype: object
61    Greece
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
4    Angola
Name: value, dtype: object
55    France
Name: value, dtype: object
9    Austria
Name: value, dtype: object
137    Spain
Name: value, dtype: object
113    Norway
Name: value, dtype: object
46    England
Name: value, dtype: object
8    Australia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
59    Germany
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
125    Romania
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
9    Austria
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
154    United States
Name: value, dtype: object
137    Spain
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
59    Germany
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
46    England
Name: value, dtype: object
80    Japan
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
137    Spain
Name: value, dtype: object
80    Japan
Name: value, dtype: object
59    Germany
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
77    Italy
Name: value, dtype: object
61    Greece
Name: value, dtype: object
61    Greece
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
51    FYR Macedonia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
59    Germany
Name: value, dtype: object
30    China PR
Name: value, dtype: object
46    England
Name: value, dtype: object
86    Kosovo
Name: value, dtype: object
113    Norway
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
95    Madagascar
Name: value, dtype: object
154    United States
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
46    England
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
108    New Zealand
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
59    Germany
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
30    China PR
Name: value, dtype: object
59    Germany
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
154    United States
Name: value, dtype: object
55    France
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
55    France
Name: value, dtype: object
9    Austria
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
8    Australia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
9    Austria
Name: value, dtype: object
77    Italy
Name: value, dtype: object
77    Italy
Name: value, dtype: object
25    Canada
Name: value, dtype: object
80    Japan
Name: value, dtype: object
77    Italy
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
9    Austria
Name: value, dtype: object
59    Germany
Name: value, dtype: object
113    Norway
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
120    Poland
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
120    Poland
Name: value, dtype: object
154    United States
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
158    Wales
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
30    China PR
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
59    Germany
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
44    Egypt
Name: value, dtype: object
8    Australia
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
154    United States
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
43    Ecuador
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
55    France
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
154    United States
Name: value, dtype: object
154    United States
Name: value, dtype: object
79    Jamaica
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
46    England
Name: value, dtype: object
80    Japan
Name: value, dtype: object
74    Iran
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
8    Australia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
30    China PR
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
120    Poland
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
120    Poland
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
113    Norway
Name: value, dtype: object
46    England
Name: value, dtype: object
72    Iceland
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
96    Mali
Name: value, dtype: object
46    England
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
9    Austria
Name: value, dtype: object
59    Germany
Name: value, dtype: object
113    Norway
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
9    Austria
Name: value, dtype: object
158    Wales
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
59    Germany
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
46    England
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
9    Austria
Name: value, dtype: object
59    Germany
Name: value, dtype: object
154    United States
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
96    Mali
Name: value, dtype: object
1    Albania
Name: value, dtype: object
59    Germany
Name: value, dtype: object
80    Japan
Name: value, dtype: object
125    Romania
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
46    England
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
9    Austria
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
120    Poland
Name: value, dtype: object
55    France
Name: value, dtype: object
158    Wales
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
76    Israel
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
59    Germany
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
29    Chile
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
61    Greece
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
154    United States
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
80    Japan
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
55    France
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
46    England
Name: value, dtype: object
29    Chile
Name: value, dtype: object
46    England
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
113    Norway
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
29    Chile
Name: value, dtype: object
29    Chile
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
154    United States

Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
30    China PR
Name: value, dtype: object
77    Italy
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
29    Chile
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
9    Austria
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
7    Armenia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
74    Iran
Name: value, dtype: object
9    Austria
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
46    England
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
9    Austria
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
12    Belarus
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
55    France
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
59    Germany
Name: value, dtype: object
69    Honduras
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
65    Guinea
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
34    Costa Rica
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
55    France
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
55    France
Name: value, dtype: object
9    Austria
Name: value, dtype: object
113    Norway
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
80    Japan
Name: value, dtype: object
77    Italy
Name: value, dtype: object
29    Chile
Name: value, dtype: object
77    Italy
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
120    Poland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
120    Poland
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
9    Austria
Name: value, dtype: object
77    Italy
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
8    Australia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
1    Albania
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
104    Mozambique
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
54    Finland
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
29    Chile
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
55    France
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
75    Iraq
Name: value, dtype: object
80    Japan
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
29    Chile
Name: value, dtype: object
101    Montenegro
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
80    Japan
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
29    Chile
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
29    Chile
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
61    Greece
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
80    Japan
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
154    United States
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
72    Iceland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
4    Angola
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
9    Austria
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
46    England
Name: value, dtype: object
113    Norway
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
15    Benin
Name: value, dtype: object
80    Japan
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
59    Germany
Name: value, dtype: object
113    Norway
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
46    England
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
26    Cape Verde
Name: value, dtype: object
80    Japan
Name: value, dtype: object
55    France
Name: value, dtype: object
72    Iceland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
154    United States
Name: value, dtype: object
126    Russia
Name: value, dtype: object
29    Chile
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
80    Japan
Name: value, dtype: object
29    Chile
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
113    Norway
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
29    Chile
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
34    Costa Rica
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
57    Gambia
Name: value, dtype: object
29    Chile
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
77    Italy
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
126    Russia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
61    Greece
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
46    England
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
55    France
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
29    Chile
Name: value, dtype: object
26    Cape Verde
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
137    Spain
Name: value, dtype: object
30    China PR
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
118    Peru
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
29    Chile
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
29    Chile
Name: value, dtype: object
30    China PR
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
72    Iceland
Name: value, dtype: object
54    Finland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
59    Germany
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
58    Georgia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
9    Austria
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
55    France
Name: value, dtype: object
113    Norway
Name: value, dtype: object
25    Canada
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
33    Congo
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
137    Spain
Name: value, dtype: object
154    United States
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
55    France
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
55    France
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
54    Finland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
113    Norway
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
9    Austria
Name: value, dtype: object
59    Germany
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
58    Georgia
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
149    Tunisia
Name: value, dtype: object
55    France
Name: value, dtype: object
77    Italy
Name: value, dtype: object
77    Italy
Name: value, dtype: object
29    Chile
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
61    Greece
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
158    Wales
Name: value, dtype: object
29    Chile
Name: value, dtype: object
72    Iceland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
120    Poland
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
76    Israel
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
154    United States
Name: value, dtype: object
147    Togo
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
80    Japan
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
43    Ecuador
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
149    Tunisia
Name: value, dtype: object
108    New Zealand
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
80    Japan
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
96    Mali
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
1    Albania
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
55    France
Name: value, dtype: object
113    Norway
Name: value, dtype: object
120    Poland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
120    Poland
Name: value, dtype: object
55    France
Name: value, dtype: object
154    United States
Name: value, dtype: object
113    Norway
Name: value, dtype: object
80    Japan

Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
158    Wales
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
77    Italy
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
29    Chile
Name: value, dtype: object
59    Germany
Name: value, dtype: object
77    Italy
Name: value, dtype: object
120    Poland
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
58    Georgia
Name: value, dtype: object
55    France
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
5    Antigua & Barbuda
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
113    Norway
Name: value, dtype: object
55    France
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
59    Germany
Name: value, dtype: object
154    United States
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
56    Gabon
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
55    France
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
58    Georgia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
118    Peru
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
65    Guinea
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
158    Wales
Name: value, dtype: object
77    Italy
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
113    Norway
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
77    Italy
Name: value, dtype: object
46    England
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
77    Italy
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
29    Chile
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
149    Tunisia
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
143    Syria
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
137    Spain
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
29    Chile
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
9    Austria
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
77    Italy
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
8    Australia
Name: value, dtype: object
80    Japan
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
120    Poland
Name: value, dtype: object
74    Iran
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
77    Italy
Name: value, dtype: object
76    Israel
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
113    Norway
Name: value, dtype: object
46    England
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
46    England
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
154    United States
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
137    Spain
Name: value, dtype: object
154    United States
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
59    Germany
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
29    Chile
Name: value, dtype: object
29    Chile
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
46    England
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
74    Iran
Name: value, dtype: object
146    Thailand
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
46    England
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
77    Italy
Name: value, dtype: object
79    Jamaica
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
9    Austria
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
98    Mauritius
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
30    China PR
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
125    Romania
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
120    Poland
Name: value, dtype: object
29    Chile
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
154    United States
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
9    Austria
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
9    Austria
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
15    Benin
Name: value, dtype: object
30    China PR
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
154    United States
Name: value, dtype: object
113    Norway
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
77    Italy
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
46    England
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
77    Italy
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
29    Chile
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
77    Italy
Name: value, dtype: object
46    England
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
80    Japan
Name: value, dtype: object
59    Germany
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
113    Norway
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
46    England
Name: value, dtype: object
9    Austria
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
29    Chile
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
137    Spain
Name: value, dtype: object
29    Chile
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
46    England
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
60    Ghana

Name: value, dtype: object
141    Sweden
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
154    United States
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
29    Chile
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
154    United States
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
126    Russia
Name: value, dtype: object
30    China PR
Name: value, dtype: object
30    China PR
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
22    Burkina Faso
Name: value, dtype: object
116    Panama
Name: value, dtype: object
77    Italy
Name: value, dtype: object
55    France
Name: value, dtype: object
86    Kosovo
Name: value, dtype: object
57    Gambia
Name: value, dtype: object
80    Japan
Name: value, dtype: object
9    Austria
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
29    Chile
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
80    Japan
Name: value, dtype: object
77    Italy
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
120    Poland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
77    Italy
Name: value, dtype: object
59    Germany
Name: value, dtype: object
86    Kosovo
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
8    Australia
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
9    Austria
Name: value, dtype: object
126    Russia
Name: value, dtype: object
113    Norway
Name: value, dtype: object
77    Italy
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
120    Poland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
61    Greece
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
55    France
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
69    Honduras
Name: value, dtype: object
120    Poland
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
64    Guatemala
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
69    Honduras
Name: value, dtype: object
59    Germany
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
8    Australia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
55    France
Name: value, dtype: object
77    Italy
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
9    Austria
Name: value, dtype: object
46    England
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
61    Greece
Name: value, dtype: object
143    Syria
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
77    Italy
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
30    China PR
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
154    United States
Name: value, dtype: object
26    Cape Verde
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
137    Spain
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
38    Cyprus
Name: value, dtype: object
29    Chile
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
59    Germany
Name: value, dtype: object
1    Albania
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
80    Japan
Name: value, dtype: object
46    England
Name: value, dtype: object
29    Chile
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
158    Wales
Name: value, dtype: object
30    China PR
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
33    Congo
Name: value, dtype: object
149    Tunisia
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
77    Italy
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
137    Spain
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
126    Russia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
80    Japan
Name: value, dtype: object
30    China PR
Name: value, dtype: object
59    Germany
Name: value, dtype: object
8    Australia
Name: value, dtype: object
80    Japan
Name: value, dtype: object
8    Australia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
32    Comoros
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
113    Norway
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
29    Chile
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
120    Poland
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
71    Hungary
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
54    Finland
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
1    Albania
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
30    China PR
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
154    United States
Name: value, dtype: object
77    Italy
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
44    Egypt
Name: value, dtype: object
148    Trinidad & Tobago
Name: value, dtype: object
74    Iran
Name: value, dtype: object
61    Greece
Name: value, dtype: object
9    Austria
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
55    France
Name: value, dtype: object
80    Japan
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
29    Chile
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
55    France
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
46    England
Name: value, dtype: object
27    Central African Rep.
Name: value, dtype: object
95    Madagascar
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
71    Hungary
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
25    Canada
Name: value, dtype: object
55    France
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
125    Romania
Name: value, dtype: object
55    France
Name: value, dtype: object
79    Jamaica
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object

59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
126    Russia
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
29    Chile
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
59    Germany
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
69    Honduras
Name: value, dtype: object
29    Chile
Name: value, dtype: object
30    China PR
Name: value, dtype: object
59    Germany
Name: value, dtype: object
77    Italy
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
29    Chile
Name: value, dtype: object
68    Haiti
Name: value, dtype: object
9    Austria
Name: value, dtype: object
59    Germany
Name: value, dtype: object
29    Chile
Name: value, dtype: object
77    Italy
Name: value, dtype: object
74    Iran
Name: value, dtype: object
77    Italy
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
113    Norway
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
59    Germany
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
34    Costa Rica
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
29    Chile
Name: value, dtype: object
108    New Zealand
Name: value, dtype: object
113    Norway
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
80    Japan
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
80    Japan
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
80    Japan
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
120    Poland
Name: value, dtype: object
46    England
Name: value, dtype: object
45    El Salvador
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
9    Austria
Name: value, dtype: object
137    Spain
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
120    Poland
Name: value, dtype: object
55    France
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
51    FYR Macedonia
Name: value, dtype: object
30    China PR
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
7    Armenia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
30    China PR
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
66    Guinea Bissau
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
80    Japan
Name: value, dtype: object
158    Wales
Name: value, dtype: object
47    Equatorial Guinea
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
29    Chile
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
158    Wales
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
159    Zambia
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
29    Chile
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
55    France
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
55    France
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
46    England
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
29    Chile
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
47    Equatorial Guinea
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
46    England
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
25    Canada
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
29    Chile
Name: value, dtype: object
137    Spain
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
61    Greece
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
30    China PR
Name: value, dtype: object
8    Australia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
77    Italy
Name: value, dtype: object
65    Guinea
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
46    England
Name: value, dtype: object
113    Norway
Name: value, dtype: object
137    Spain
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
101    Montenegro
Name: value, dtype: object
80    Japan
Name: value, dtype: object
46    England
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
72    Iceland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
154    United States
Name: value, dtype: object
46    England
Name: value, dtype: object
71    Hungary
Name: value, dtype: object
46    England
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
8    Australia
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
113    Norway
Name: value, dtype: object
55    France
Name: value, dtype: object
77    Italy
Name: value, dtype: object
59    Germany
Name: value, dtype: object
29    Chile
Name: value, dtype: object
77    Italy
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
30    China PR
Name: value, dtype: object
120    Poland
Name: value, dtype: object
9    Austria
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
80    Japan
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
86    Kosovo
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
57    Gambia
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
154    United States
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
77    Italy
Name: value, dtype: object
113    Norway
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
154    United States
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
46    England
Name: value, dtype: object
29    Chile
Name: value, dtype: object
55    France
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object

8    Australia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
158    Wales
Name: value, dtype: object
154    United States
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
29    Chile
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
30    China PR
Name: value, dtype: object
126    Russia
Name: value, dtype: object
56    Gabon
Name: value, dtype: object
46    England
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
65    Guinea
Name: value, dtype: object
80    Japan
Name: value, dtype: object
29    Chile
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
59    Germany
Name: value, dtype: object
9    Austria
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
80    Japan
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
46    England
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
137    Spain
Name: value, dtype: object
154    United States
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
54    Finland
Name: value, dtype: object
86    Kosovo
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
55    France
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
55    France
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
154    United States
Name: value, dtype: object
29    Chile
Name: value, dtype: object
137    Spain
Name: value, dtype: object
160    Zimbabwe
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
61    Greece
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
154    United States
Name: value, dtype: object
8    Australia
Name: value, dtype: object
29    Chile
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
55    France
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
118    Peru
Name: value, dtype: object
8    Australia
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
46    England
Name: value, dtype: object
8    Australia
Name: value, dtype: object
46    England
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
61    Greece
Name: value, dtype: object
113    Norway
Name: value, dtype: object
29    Chile
Name: value, dtype: object
90    Liberia
Name: value, dtype: object
113    Norway
Name: value, dtype: object
79    Jamaica
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
46    England
Name: value, dtype: object
113    Norway
Name: value, dtype: object
55    France
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
61    Greece
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
77    Italy
Name: value, dtype: object
113    Norway
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
9    Austria
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
61    Greece
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
29    Chile
Name: value, dtype: object
55    France
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
9    Austria
Name: value, dtype: object
8    Australia
Name: value, dtype: object
113    Norway
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
154    United States
Name: value, dtype: object
46    England
Name: value, dtype: object
37    Curacao
Name: value, dtype: object
59    Germany
Name: value, dtype: object
30    China PR
Name: value, dtype: object
59    Germany
Name: value, dtype: object
29    Chile
Name: value, dtype: object
29    Chile
Name: value, dtype: object
96    Mali
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
77    Italy
Name: value, dtype: object
59    Germany
Name: value, dtype: object
120    Poland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
29    Chile
Name: value, dtype: object
137    Spain
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
46    England
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
55    France
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
132    Sierra Leone
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
82    Kazakhstan
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
29    Chile
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
59    Germany
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
86    Kosovo
Name: value, dtype: object
126    Russia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
120    Poland
Name: value, dtype: object
29    Chile
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
77    Italy
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
46    England
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
137    Spain
Name: value, dtype: object
8    Australia
Name: value, dtype: object
125    Romania
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
55    France
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
120    Poland
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
55    France
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
46    England
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
86    Kosovo
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
46    England
Name: value, dtype: object
113    Norway
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
8    Australia
Name: value, dtype: object
30    China PR
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
77    Italy
Name: value, dtype: object
66    Guinea Bissau
Name: value, dtype: object
137    Spain
Name: value, dtype: object
80    Japan
Name: value, dtype: object
158    Wales
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
158    Wales
Name: value, dtype: object
154    United States
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
120    Poland
Name: value, dtype: object
120    Poland
Name: value, dtype: object
154    United States
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
46    England
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
101    Montenegro
Name: value, dtype: object
120    Poland
Name: value, dtype: object
46    England
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
113    Norway
Name: value, dtype: object
46    England
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
116    Panama
Name: value, dtype: object
137    Spain
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
137    Spain
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
137    Spain
Name: value, dtype: object
154    United States
Name: value, dtype: object
65    Guinea
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
110    Niger
Name: value, dtype: object
59    Germany
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
46    England
Name: value, dtype: object
29    Chile
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
12    Belarus
Name: value, dtype: object
55    France
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
46    England
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
22    Burkina Faso
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
113    Norway
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
29    Chile
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
158    Wales
Name: value, dtype: object
80    Japan
Name: value, dtype: object
77    Italy
Name: value, dtype: object
95    Madagascar
Name: value, dtype: object
59    Germany
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
97    Mauritania
Name: value, dtype: object
55    France
Name: value, dtype: object
56    Gabon
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
30    China PR
Name: value, dtype: object
80    Japan
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
113    Norway
Name: value, dtype: object
59    Germany
Name: value, dtype: object
140    Suriname
Name: value, dtype: object
77    Italy
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
120    Poland
Name: value, dtype: object
15    Benin
Name: value, dtype: object
149    Tunisia
Name: value, dtype: object
30    China PR

Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
1    Albania
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
46    England
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
8    Australia
Name: value, dtype: object
55    France
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
1    Albania
Name: value, dtype: object
59    Germany
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
46    England
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
154    United States
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
59    Germany
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
9    Austria
Name: value, dtype: object
59    Germany
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
113    Norway
Name: value, dtype: object
59    Germany
Name: value, dtype: object
77    Italy
Name: value, dtype: object
59    Germany
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
29    Chile
Name: value, dtype: object
15    Benin
Name: value, dtype: object
80    Japan
Name: value, dtype: object
8    Australia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
30    China PR
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
80    Japan
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
34    Costa Rica
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
120    Poland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
29    Chile
Name: value, dtype: object
29    Chile
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
46    England
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
80    Japan
Name: value, dtype: object
55    France
Name: value, dtype: object
58    Georgia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
55    France
Name: value, dtype: object
29    Chile
Name: value, dtype: object
120    Poland
Name: value, dtype: object
9    Austria
Name: value, dtype: object
80    Japan
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
126    Russia
Name: value, dtype: object
1    Albania
Name: value, dtype: object
46    England
Name: value, dtype: object
77    Italy
Name: value, dtype: object
79    Jamaica
Name: value, dtype: object
4    Angola
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
77    Italy
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
158    Wales
Name: value, dtype: object
154    United States
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
77    Italy
Name: value, dtype: object
116    Panama
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
59    Germany
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
29    Chile
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
61    Greece
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
46    England
Name: value, dtype: object
154    United States
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
126    Russia
Name: value, dtype: object
46    England
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
120    Poland
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
1    Albania
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
61    Greece
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
46    England
Name: value, dtype: object
120    Poland
Name: value, dtype: object
26    Cape Verde
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
8    Australia
Name: value, dtype: object
34    Costa Rica
Name: value, dtype: object
55    France
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
54    Finland
Name: value, dtype: object
77    Italy
Name: value, dtype: object
59    Germany
Name: value, dtype: object
30    China PR
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
8    Australia
Name: value, dtype: object
29    Chile
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
113    Norway
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
113    Norway
Name: value, dtype: object
9    Austria
Name: value, dtype: object
113    Norway
Name: value, dtype: object
8    Australia
Name: value, dtype: object
55    France
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
80    Japan
Name: value, dtype: object
94    Luxembourg
Name: value, dtype: object
46    England
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
30    China PR
Name: value, dtype: object
137    Spain
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
9    Austria
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
120    Poland
Name: value, dtype: object
77    Italy
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
113    Norway
Name: value, dtype: object
77    Italy
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
113    Norway
Name: value, dtype: object
9    Austria
Name: value, dtype: object
59    Germany
Name: value, dtype: object
29    Chile
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
80    Japan
Name: value, dtype: object
154    United States
Name: value, dtype: object
154    United States
Name: value, dtype: object
46    England
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
79    Jamaica
Name: value, dtype: object
154    United States
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
154    United States
Name: value, dtype: object
55    France
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
154    United States
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
154    United States
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
95    Madagascar
Name: value, dtype: object
154    United States
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
77    Italy
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
30    China PR
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
46    England
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
137    Spain
Name: value, dtype: object
83    Kenya
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
34    Costa Rica
Name: value, dtype: object
113    Norway
Name: value, dtype: object
113    Norway
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
149    Tunisia
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
46    England
Name: value, dtype: object
102    Montserrat
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
71    Hungary
Name: value, dtype: object
137    Spain
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
38    Cyprus
Name: value, dtype: object
30    China PR
Name: value, dtype: object
9    Austria
Name: value, dtype: object
77    Italy
Name: value, dtype: object
113    Norway
Name: value, dtype: object
77    Italy
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
120    Poland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
113    Norway
Name: value, dtype: object
59    Germany
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
77    Italy
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
80    Japan
Name: value, dtype: object
137    Spain
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
46    England
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
55    France
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
46    England
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
61    Greece
Name: value, dtype: object
55    France
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
34    Costa Rica
Name: value, dtype: object
125    Romania
Name: value, dtype: object
77    Italy
Name: value, dtype: object
59    Germany
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
80    Japan
Name: value, dtype: object
1    Albania
Name: value, dtype: object
61    Greece
Name: value, dtype: object
59    Germany
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
158    Wales
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
120    Poland
Name: value, dtype: object
30    China PR
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
77    Italy
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
29    Chile

Name: value, dtype: object
60    Ghana
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
59    Germany
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
59    Germany
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
9    Austria
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
8    Australia
Name: value, dtype: object
65    Guinea
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
29    Chile
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
77    Italy
Name: value, dtype: object
8    Australia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
96    Mali
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
105    Namibia
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
137    Spain
Name: value, dtype: object
29    Chile
Name: value, dtype: object
77    Italy
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
59    Germany
Name: value, dtype: object
9    Austria
Name: value, dtype: object
59    Germany
Name: value, dtype: object
58    Georgia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
9    Austria
Name: value, dtype: object
77    Italy
Name: value, dtype: object
26    Cape Verde
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
154    United States
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
54    Finland
Name: value, dtype: object
158    Wales
Name: value, dtype: object
137    Spain
Name: value, dtype: object
154    United States
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
86    Kosovo
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
37    Curacao
Name: value, dtype: object
154    United States
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
80    Japan
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
126    Russia
Name: value, dtype: object
159    Zambia
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
46    England
Name: value, dtype: object
54    Finland
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
46    England
Name: value, dtype: object
80    Japan
Name: value, dtype: object
137    Spain
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
34    Costa Rica
Name: value, dtype: object
4    Angola
Name: value, dtype: object
120    Poland
Name: value, dtype: object
77    Italy
Name: value, dtype: object
9    Austria
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
44    Egypt
Name: value, dtype: object
120    Poland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
120    Poland
Name: value, dtype: object
80    Japan
Name: value, dtype: object
8    Australia
Name: value, dtype: object
55    France
Name: value, dtype: object
10    Azerbaijan
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
113    Norway
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
29    Chile
Name: value, dtype: object
55    France
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
113    Norway
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
63    Guam
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
61    Greece
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
91    Libya
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
55    France
Name: value, dtype: object
113    Norway
Name: value, dtype: object
59    Germany
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
29    Chile
Name: value, dtype: object
137    Spain
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
55    France
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
55    France
Name: value, dtype: object
9    Austria
Name: value, dtype: object
113    Norway
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
29    Chile
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
80    Japan
Name: value, dtype: object
66    Guinea Bissau
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
80    Japan
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
55    France
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
29    Chile
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
77    Italy
Name: value, dtype: object
100    Moldova
Name: value, dtype: object
61    Greece
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
154    United States
Name: value, dtype: object
137    Spain
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
125    Romania
Name: value, dtype: object
61    Greece
Name: value, dtype: object
59    Germany
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
101    Montenegro
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
46    England
Name: value, dtype: object
55    France
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
58    Georgia
Name: value, dtype: object
80    Japan
Name: value, dtype: object
137    Spain
Name: value, dtype: object
158    Wales
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
46    England
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
154    United States
Name: value, dtype: object
66    Guinea Bissau
Name: value, dtype: object
8    Australia
Name: value, dtype: object
108    New Zealand
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
96    Mali
Name: value, dtype: object
154    United States
Name: value, dtype: object
46    England
Name: value, dtype: object
29    Chile
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
80    Japan
Name: value, dtype: object
77    Italy
Name: value, dtype: object
30    China PR
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
30    China PR
Name: value, dtype: object
55    France
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
1    Albania
Name: value, dtype: object
4    Angola
Name: value, dtype: object
55    France
Name: value, dtype: object
29    Chile
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
55    France
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
9    Austria
Name: value, dtype: object
77    Italy
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
154    United States
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
120    Poland
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
9    Austria
Name: value, dtype: object
154    United States
Name: value, dtype: object
154    United States
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
77    Italy
Name: value, dtype: object
80    Japan
Name: value, dtype: object
29    Chile
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
29    Chile
Name: value, dtype: object
55    France
Name: value, dtype: object
146    Thailand
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
154    United States
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
59    Germany
Name: value, dtype: object
80    Japan
Name: value, dtype: object
28    Chad
Name: value, dtype: object

46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
77    Italy
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
125    Romania
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
29    Chile
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
55    France
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
10    Azerbaijan
Name: value, dtype: object
154    United States
Name: value, dtype: object
55    France
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
30    China PR
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
8    Australia
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
52    Faroe Islands
Name: value, dtype: object
46    England
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
46    England
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
8    Australia
Name: value, dtype: object
29    Chile
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
22    Burkina Faso
Name: value, dtype: object
29    Chile
Name: value, dtype: object
59    Germany
Name: value, dtype: object
29    Chile
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
77    Italy
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
108    New Zealand
Name: value, dtype: object
59    Germany
Name: value, dtype: object
52    Faroe Islands
Name: value, dtype: object
46    England
Name: value, dtype: object
116    Panama
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
29    Chile
Name: value, dtype: object
118    Peru
Name: value, dtype: object
59    Germany
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
55    France
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
46    England
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
77    Italy
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
59    Germany
Name: value, dtype: object
113    Norway
Name: value, dtype: object
120    Poland
Name: value, dtype: object
8    Australia
Name: value, dtype: object
154    United States
Name: value, dtype: object
46    England
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
77    Italy
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
154    United States
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
149    Tunisia
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
65    Guinea
Name: value, dtype: object
29    Chile
Name: value, dtype: object
46    England
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
154    United States
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
46    England
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
154    United States
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
118    Peru
Name: value, dtype: object
137    Spain
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
113    Norway
Name: value, dtype: object
137    Spain
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
46    England
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
126    Russia
Name: value, dtype: object
29    Chile
Name: value, dtype: object
46    England
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
30    China PR
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
77    Italy
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
154    United States
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
61    Greece
Name: value, dtype: object
43    Ecuador
Name: value, dtype: object
80    Japan
Name: value, dtype: object
7    Armenia
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
46    England
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
47    Equatorial Guinea
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
77    Italy
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
154    United States
Name: value, dtype: object
101    Montenegro
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
69    Honduras
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
59    Germany
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
137    Spain
Name: value, dtype: object
8    Australia
Name: value, dtype: object
154    United States
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
80    Japan
Name: value, dtype: object
9    Austria
Name: value, dtype: object
55    France
Name: value, dtype: object
113    Norway
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
120    Poland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
77    Italy
Name: value, dtype: object
59    Germany
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
29    Chile
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
113    Norway
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
46    England
Name: value, dtype: object
154    United States
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
77    Italy
Name: value, dtype: object
46    England
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
154    United States
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
80    Japan
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
109    Nicaragua
Name: value, dtype: object
77    Italy
Name: value, dtype: object
154    United States
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
46    England
Name: value, dtype: object
120    Poland
Name: value, dtype: object
132    Sierra Leone
Name: value, dtype: object
113    Norway
Name: value, dtype: object
74    Iran
Name: value, dtype: object
82    Kazakhstan
Name: value, dtype: object
25    Canada
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
113    Norway
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
80    Japan
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
9    Austria
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
77    Italy
Name: value, dtype: object
8    Australia

Name: value, dtype: object
113    Norway
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
154    United States
Name: value, dtype: object
154    United States
Name: value, dtype: object
104    Mozambique
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
137    Spain
Name: value, dtype: object
80    Japan
Name: value, dtype: object
80    Japan
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
55    France
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
65    Guinea
Name: value, dtype: object
77    Italy
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
113    Norway
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
80    Japan
Name: value, dtype: object
137    Spain
Name: value, dtype: object
8    Australia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
30    China PR
Name: value, dtype: object
77    Italy
Name: value, dtype: object
140    Suriname
Name: value, dtype: object
137    Spain
Name: value, dtype: object
77    Italy
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
8    Australia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
154    United States
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
137    Spain
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
120    Poland
Name: value, dtype: object
113    Norway
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
80    Japan
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
59    Germany
Name: value, dtype: object
120    Poland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
55    France
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
101    Montenegro
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
118    Peru
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
15    Benin
Name: value, dtype: object
59    Germany
Name: value, dtype: object
49    Estonia
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
25    Canada
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
120    Poland
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
68    Haiti
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
120    Poland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
158    Wales
Name: value, dtype: object
120    Poland
Name: value, dtype: object
29    Chile
Name: value, dtype: object
49    Estonia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
46    England
Name: value, dtype: object
154    United States
Name: value, dtype: object
59    Germany
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
80    Japan
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
55    France
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
46    England
Name: value, dtype: object
125    Romania
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
77    Italy
Name: value, dtype: object
83    Kenya
Name: value, dtype: object
8    Australia
Name: value, dtype: object
29    Chile
Name: value, dtype: object
29    Chile
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
55    France
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
8    Australia
Name: value, dtype: object
9    Austria
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
154    United States
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
29    Chile
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
80    Japan
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
154    United States
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
159    Zambia
Name: value, dtype: object
93    Lithuania
Name: value, dtype: object
154    United States
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
34    Costa Rica
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
96    Mali
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
9    Austria
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
137    Spain
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
46    England
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
59    Germany
Name: value, dtype: object
120    Poland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
59    Germany
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
80    Japan
Name: value, dtype: object
59    Germany
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
8    Australia
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
77    Italy
Name: value, dtype: object
29    Chile
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
120    Poland
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
29    Chile
Name: value, dtype: object
120    Poland
Name: value, dtype: object
55    France
Name: value, dtype: object
154    United States
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
120    Poland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
80    Japan
Name: value, dtype: object
77    Italy
Name: value, dtype: object
80    Japan
Name: value, dtype: object
77    Italy
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
77    Italy
Name: value, dtype: object
58    Georgia
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
126    Russia
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
46    England
Name: value, dtype: object
154    United States
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
29    Chile
Name: value, dtype: object
137    Spain
Name: value, dtype: object
113    Norway
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
30    China PR
Name: value, dtype: object
55    France
Name: value, dtype: object
113    Norway
Name: value, dtype: object
46    England
Name: value, dtype: object
155    Uruguay
Name: value, dtype: object
137    Spain
Name: value, dtype: object
31    Colombia
Name: value, dtype: object

43    Ecuador
Name: value, dtype: object
55    France
Name: value, dtype: object
49    Estonia
Name: value, dtype: object
9    Austria
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
29    Chile
Name: value, dtype: object
137    Spain
Name: value, dtype: object
9    Austria
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
154    United States
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
61    Greece
Name: value, dtype: object
105    Namibia
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
77    Italy
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
26    Cape Verde
Name: value, dtype: object
46    England
Name: value, dtype: object
55    France
Name: value, dtype: object
120    Poland
Name: value, dtype: object
8    Australia
Name: value, dtype: object
55    France
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
120    Poland
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
77    Italy
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
58    Georgia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
113    Norway
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
80    Japan
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
80    Japan
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
120    Poland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
80    Japan
Name: value, dtype: object
59    Germany
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
55    France
Name: value, dtype: object
30    China PR
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
65    Guinea
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
88    Latvia
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
8    Australia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
46    England
Name: value, dtype: object
30    China PR
Name: value, dtype: object
77    Italy
Name: value, dtype: object
137    Spain
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
8    Australia
Name: value, dtype: object
55    France
Name: value, dtype: object
59    Germany
Name: value, dtype: object
9    Austria
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
9    Austria
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
77    Italy
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
2    Algeria
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
30    China PR
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
152    Ukraine
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
11    Barbados
Name: value, dtype: object
120    Poland
Name: value, dtype: object
158    Wales
Name: value, dtype: object
120    Poland
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
30    China PR
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
44    Egypt
Name: value, dtype: object
154    United States
Name: value, dtype: object
137    Spain
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
59    Germany
Name: value, dtype: object
43    Ecuador
Name: value, dtype: object
59    Germany
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
30    China PR
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
46    England
Name: value, dtype: object
55    France
Name: value, dtype: object
58    Georgia
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
46    England
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
137    Spain
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
59    Germany
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
137    Spain
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
71    Hungary
Name: value, dtype: object
77    Italy
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
77    Italy
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
120    Poland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
29    Chile
Name: value, dtype: object
30    China PR
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
154    United States
Name: value, dtype: object
46    England
Name: value, dtype: object
55    France
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
59    Germany
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
1    Albania
Name: value, dtype: object
46    England
Name: value, dtype: object
89    Lebanon
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
55    France
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
44    Egypt
Name: value, dtype: object
30    China PR
Name: value, dtype: object
59    Germany
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
59    Germany
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
77    Italy
Name: value, dtype: object
9    Austria
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
59    Germany
Name: value, dtype: object
120    Poland
Name: value, dtype: object
54    Finland
Name: value, dtype: object
30    China PR
Name: value, dtype: object
113    Norway
Name: value, dtype: object
154    United States
Name: value, dtype: object
158    Wales
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
77    Italy
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
149    Tunisia
Name: value, dtype: object
25    Canada
Name: value, dtype: object
110    Niger
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
21    Bulgaria
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
59    Germany
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
46    England
Name: value, dtype: object
9    Austria
Name: value, dtype: object
141    Sweden
Name: value, dtype: object

154    United States
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
49    Estonia
Name: value, dtype: object
29    Chile
Name: value, dtype: object
157    Venezuela
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
46    England
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
17    Bolivia
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
9    Austria
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
46    England
Name: value, dtype: object
30    China PR
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
154    United States
Name: value, dtype: object
46    England
Name: value, dtype: object
24    Cameroon
Name: value, dtype: object
59    Germany
Name: value, dtype: object
103    Morocco
Name: value, dtype: object
61    Greece
Name: value, dtype: object
30    China PR
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
59    Germany
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
55    France
Name: value, dtype: object
80    Japan
Name: value, dtype: object
59    Germany
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
55    France
Name: value, dtype: object
77    Italy
Name: value, dtype: object
80    Japan
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
46    England
Name: value, dtype: object
25    Canada
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
59    Germany
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
134    Slovenia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
133    Slovakia
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
46    England
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
113    Norway
Name: value, dtype: object
80    Japan
Name: value, dtype: object
79    Jamaica
Name: value, dtype: object
29    Chile
Name: value, dtype: object
80    Japan
Name: value, dtype: object
57    Gambia
Name: value, dtype: object
58    Georgia
Name: value, dtype: object
158    Wales
Name: value, dtype: object
55    France
Name: value, dtype: object
8    Australia
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
118    Peru
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
80    Japan
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
120    Poland
Name: value, dtype: object
55    France
Name: value, dtype: object
117    Paraguay
Name: value, dtype: object
80    Japan
Name: value, dtype: object
9    Austria
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
30    China PR
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
49    Estonia
Name: value, dtype: object
13    Belgium
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
137    Spain
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
7    Armenia
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
35    Croatia
Name: value, dtype: object
158    Wales
Name: value, dtype: object
137    Spain
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
113    Norway
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
154    United States
Name: value, dtype: object
77    Italy
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
55    France
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
55    France
Name: value, dtype: object
30    China PR
Name: value, dtype: object
25    Canada
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
112    Northern Ireland
Name: value, dtype: object
55    France
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
59    Germany
Name: value, dtype: object
29    Chile
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
77    Italy
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
30    China PR
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
154    United States
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
154    United States
Name: value, dtype: object
59    Germany
Name: value, dtype: object
9    Austria
Name: value, dtype: object
59    Germany
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
44    Egypt
Name: value, dtype: object
34    Costa Rica
Name: value, dtype: object
99    Mexico
Name: value, dtype: object
150    Turkey
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
46    England
Name: value, dtype: object
59    Germany
Name: value, dtype: object
46    England
Name: value, dtype: object
80    Japan
Name: value, dtype: object
121    Portugal
Name: value, dtype: object
77    Italy
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
54    Finland
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
46    England
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
59    Germany
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
46    England
Name: value, dtype: object
154    United States
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
159    Zambia
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
55    France
Name: value, dtype: object
9    Austria
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
46    England
Name: value, dtype: object
92    Liechtenstein
Name: value, dtype: object
59    Germany
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
129    Scotland
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
80    Japan
Name: value, dtype: object
59    Germany
Name: value, dtype: object
51    FYR Macedonia
Name: value, dtype: object
137    Spain
Name: value, dtype: object
131    Serbia
Name: value, dtype: object
79    Jamaica
Name: value, dtype: object
60    Ghana
Name: value, dtype: object
158    Wales

Name: value, dtype: object
59    Germany
Name: value, dtype: object
137    Spain
Name: value, dtype: object
141    Sweden
Name: value, dtype: object
46    England
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
80    Japan
Name: value, dtype: object
128    Saudi Arabia
Name: value, dtype: object
55    France
Name: value, dtype: object
8    Australia
Name: value, dtype: object
29    Chile
Name: value, dtype: object
130    Senegal
Name: value, dtype: object
137    Spain
Name: value, dtype: object
113    Norway
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
30    China PR
Name: value, dtype: object
85    Korea Republic
Name: value, dtype: object
78    Ivory Coast
Name: value, dtype: object
142    Switzerland
Name: value, dtype: object
55    France
Name: value, dtype: object
54    Finland
Name: value, dtype: object
29    Chile
Name: value, dtype: object
72    Iceland
Name: value, dtype: object
80    Japan
Name: value, dtype: object
59    Germany
Name: value, dtype: object
115    Palestine
Name: value, dtype: object
120    Poland
Name: value, dtype: object
39    Czech Republic
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
120    Poland
Name: value, dtype: object
80    Japan
Name: value, dtype: object
111    Nigeria
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
46    England
Name: value, dtype: object
77    Italy
Name: value, dtype: object
9    Austria
Name: value, dtype: object
80    Japan
Name: value, dtype: object
80    Japan
Name: value, dtype: object
46    England
Name: value, dtype: object
21    Bulgaria
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
158    Wales
Name: value, dtype: object
55    France
Name: value, dtype: object
154    United States
Name: value, dtype: object
6    Argentina
Name: value, dtype: object
9    Austria
Name: value, dtype: object
80    Japan
Name: value, dtype: object
72    Iceland
Name: value, dtype: object
79    Jamaica
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
137    Spain
Name: value, dtype: object
96    Mali
Name: value, dtype: object
137    Spain
Name: value, dtype: object
137    Spain
Name: value, dtype: object
80    Japan
Name: value, dtype: object
55    France
Name: value, dtype: object
20    Brazil
Name: value, dtype: object
58    Georgia
Name: value, dtype: object
46    England
Name: value, dtype: object
31    Colombia
Name: value, dtype: object
55    France
Name: value, dtype: object
46    England
Name: value, dtype: object
18    Bosnia Herzegovina
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
46    England
Name: value, dtype: object
80    Japan
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
41    Denmark
Name: value, dtype: object
96    Mali
Name: value, dtype: object
29    Chile
Name: value, dtype: object
135    South Africa
Name: value, dtype: object
124    Republic of Ireland
Name: value, dtype: object
8    Australia
Name: value, dtype: object
77    Italy
Name: value, dtype: object
54    Finland
Name: value, dtype: object
106    Netherlands
Name: value, dtype: object
46    England
Name: value, dtype: object
96    Mali
Name: value, dtype: object
40    DR Congo
Name: value, dtype: object
113    Norway
Name: value, dtype: object
9    Austria
Name: value, dtype: object

In [ ]:
plt.figure(figsize=(12,8))
goalkeepers = df[df.num_position == 0]
fielders = df[df.num_position != 0]
plt.scatter(goalkeepers['total_stats'], goalkeepers['norm_wage'])
plt.scatter(fielders['total_stats'], fielders['norm_wage'], alpha=.2)

In [ ]:
plt.figure(figsize=(12,8))
plt.scatter(df['norm_value'], df['norm_wage'])

In [ ]:
plt.figure(figsize=(12,8))
right = df[df.power_foot_num == 0]
left = df[df.power_foot_num == 1]
print(len(right))
print(len(left))
plt.scatter(right['total_stats'], right['norm_wage'],color='orange', alpha=.4, label='Right Foot')
plt.scatter(left['total_stats'], left['norm_wage'],color='green', alpha=.3, label='Left Foot')
plt.legend()

In [ ]:
countries = df.groupby('nunm')
countries.size()